body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  padding: 10px;
  background-color: #fff;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.leaflet-bottom.leaflet-left{width: 90%;}
.leaflet-control-container.leaflet-timeline-controls{margin: 0;
box-sizing: border-box; margin-bottom: 15px; width: 100%;}
