/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(84, 172, 157);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* header styling*/
h3{
    color: rgb(84, 172, 157);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* image styling*/
.img-thumbnail{
    padding:10px;
    border: none;
}

/* fontstyling for text*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}

/* body background*/
body{
    background-color: lightgray;
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* image border styling*/
.pic{
    border: 3px solid rgb(84, 172, 157);
}
/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 0;
}

/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


/* table text adjustments*/

table {
    background-color: #fff;
}
th, caption {
    text-align: left;
}

table {
    
    width: 400px;
}
th{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.938) ;
}
table, th, td{
    border:1px transparent grey;
    border-collapse: collapse;
    margin:25px 0;
    font-size:0.9em;
    min-width: 100px;

}

.content-table thead tr {
    background-color: rgb(84, 172, 157);
    color: white;
    text-align: left;
    font-weight: bold;

}

.content-table th, 
.content-table td {
    padding: 12px 15px;

}
.content-table tbody tr {
    border-bottom: 1px solid grey;
}

th, td{
    padding: 7px;
}

tr:nth-child(odd) {
    background-color: #fff;
}
tr:nth-child(even) {
    background-color: lightgrey;
}


/* small screen adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(84, 172, 157)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}
/*footer styling*/
.page-footer{
    background-color: white;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}